@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
	margin: 0;
	background-color: #fff;
	padding: 30px;
}

body  {
	margin: 0;
	font-family: 'Roboto',sans-serif;
	background-color: #1dabdd;
	background-image: url('D:/HTML/SecondAss/Landing_Page/bird.png');
	background-repeat: no-repeat;
	background-position: right;
	min-width: 800px;
	color: #fff;	
}
footer {
	padding: 20px;
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	background-color: #1b95e0;
}
footer a{
	padding: 20px;
	color: #fff;
	text-decoration: none;
}
section {
	padding: 40px;
}
section ul li {
	list-style-type: none;
	padding: 10px;
	line-height: 3.4;
}
section a {
	margin: 20px;
	padding: 5px 70px;
	border: 1px solid white;
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
}
section h1{
	width: 20%;
	padding: 20px;
	margin: 0;
}
section ul li img{
	margin-right: 20px;

}
section h2 {
	width: 20%;
	padding: 20px;
	margin: 0;
}